body {
    font-family: sans-serif;
    -webkit-font-smoothing: auto;
    -moz-font-smoothing: auto;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    font-smooth: always;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
  }

  h1 {
    font-size: 1.5rem;
  }
.react-flow__node.draggable{
    border-radius: 20px;
    box-shadow: 0px 0px 9px 0px #ff00fe !important;
}
.react-flow__node.draggable:hover{
    box-shadow: 0px 0px 9px 0px #ff00fe !important;
}
.react-flow__node-input, .react-flow__node-default, .react-flow__node-output, .react-flow__node-group{
  border-radius: 20px;
  box-shadow: 0px 0px 9px 0px #ff00fe !important;
}
.react-flow__node.custom-node {
  background-image: linear-gradient(45deg, purple, #b99e0c);
}

.react-flow__panel.right {
  background-color: #000000;
}

.message{
  position: absolute;
  top: 10px;
  left: 10px;
  background-color: #ffffff;
  padding: 10px;
  border-radius: 5px;
  z-index: 999;
}
.react-flow__attribution {
  display: none;
}

@keyframes moveEdge {
  0% {
    stroke-dashoffset: 100;
  }
  100% {
    stroke-dashoffset: 0;
  }
}
.tooltip{
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff;
  padding: 8px;
  border-radius: 5px;
  z-index: 1000;
  position: absolute;
  max-width: 400px;
}
.react-flow__controls-button:last-child{
  border-radius: 0px 0px 5px 5px;
  border: 1px solid white;
}
.backup-button {
  bottom: 150px;
  position: absolute;
  left: 15px;
  z-index: 999;
  cursor: pointer;
  background-color: #ffffff;
  padding: 5px;
  width: 26px;
  border: 0px solid;
  border-bottom: 1px solid #eeeeee;
  border-radius: 5px 5px 0px 0px;
}
.restore-button{
  bottom: 119px;
  position: absolute;
  left: 15px;
  z-index: 999;
  cursor: pointer;
  background-color: #ffffff;
  padding: 5px;
  border: 0px solid;
  border-bottom: 1px solid #eeeeee;
}